[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule ".\\extern\\eigen"]
	path = .\\extern\\eigen
	url = https://github.com/PX4/eigen.git
